﻿@using wbEcsc.App_Codes.BLL.Account;
@using wbEcsc.App_Codes;

@{
    ViewBag.Title = "Budget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .ui-autocomplete {
        height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        /*border: 1px solid #cbc7c7;*/
        font-size: 13px;
        font-weight: normal;
        color: #242424;
        background: #fff;
        -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
        box-shadow: inset 0.9px 1px 3px #e4e4e4;
        /*width: 350px;*/
        /*height:30px;*/
        padding: 5px;
        font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
        margin: 3px 0;
        z-index: 10000 !important;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>
<style>
    .Red::placeholder {
        color: red; /* Modern browsers */
        font-size: 12px;
    }
</style>

<script src="~/Scripts/AccJs/BudgetDashboard.js"></script>
<script src="~/Scripts/AccJs/BudgetMaster.js"></script>
<script src="~/Scripts/AccJs/Concurrance.js"></script>

<div class="wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="sidebar-close active"><a data-toggle="tab" href="#tab-1" onclick="Populate()"> Dashboard </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"> Creatre/Revise </a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3"> Financial Concurrance </a></li>

                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="full-height-scroll">
                            <div class="panel-body">
                                <div>
                                    <div class="stage stage-default">
                                        <div class="row">
                                            <div class="form-group">

                                                <div class="col-md-2">
                                                    <label class="control-label">Budget Type</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                    <select class="form-control" id="ddlDashBudgetType" onchange="Get_DashCondition()">
                                                        <option selected value="">Select</option>
                                                        <option value="L">Revenue Physical</option>
                                                        <option selected value="R">Revenue Finance</option>
                                                        <option value="P">Planned Transport</option>
                                                        <option value="T">Planned TOIP</option>
                                                        <option value="O">Fund from other department</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 clsCatSubCat">
                                                    <label class="control-label">Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                    <select class="form-control" id="ddlDashCategory" onchange="Populate()">
                                                        <option value="">Select</option>
                                                        <option  value="I">Receipt</option>
                                                        <option selected value="E">Payment</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2 clsDashCatSubCat">
                                                    <label class="control-label">Sub Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                                    <select class="form-control" id="ddlDashSubCategory" onchange="Populate()">
                                                        <option selected value="">Select</option>
                                                        <option value="T">Traffic Revenue</option>
                                                        <option value="O">Others</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">Search by Receipt Type</label><span id="spn3" style="color: red"></span>
                                                    <input type="text" id="txtDashReceiptType" name="txtDashReceiptType" class="form-control" placeholder="type receipt..">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <table id="myDashboard" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                                        <thead></thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="row">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">

                                        <div class="col-md-2">
                                            <label class="control-label" >Budget Type</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlBudgetType" onchange="Get_Condition()">
                                                <option selected value="">Select</option>
                                                <option value="L">Revenue Physical</option>
                                                <option value="R">Revenue Finance</option>
                                                <option value="P">Planned Transport</option>
                                                <option value="T">Planned TOIP</option>
                                                <option value="O">Fund from other department</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 clsCatSubCat">
                                            <label class="control-label">Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlCategory" onchange="Get_Particulars()">
                                                <option selected value="">Select</option>
                                                <option value="I">Receipt</option>
                                                <option value="E">Payment</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 clsCatSubCat">
                                            <label class="control-label">Sub Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlSubCategory" onchange="Get_Particulars()">
                                                <option selected value="">Select</option>
                                                <option value="T">Traffic Revenue</option>
                                                <option value="O">Others</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label" >Search by Receipt Type</label><span id="spn3" style="color: red"></span>
                                            <input type="text" id="txtReceiptType" name="txtReceiptType" class="form-control" placeholder="type receipt.." >
                                        </div>
                                        <div class="col-md-3" >
                                            @*<button type="button" style="float:left" id="btnBudgetOK" class="btn btn-primary" >Copy data from last Year</button>&nbsp;*@
                                            <label class="control-label">Copy data from last Year</label><span id="spn3" style="color: red"></span>
                                            <input type="text" id="txtYearPerct" style="width:70px;" name="txtYearPerct" class="form-control allownumericwithdecimal" placeholder="%" >

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="text-align:right; padding-top:5px">

                                        <div class="form-group" style="padding-top:5px">
                                            <label class="control-label" style="font-style: italic; float:left; padding-top:5px; color:#f95c41" id="lblHeader"></label>
                                            <div id="myDiv">
                                                <table id="myTable" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:66%">Particulars</th>
                                                            <th style="width:8%">Budget Code</th>
                                                            <th>Amount</th>
                                                            <th style="width:5%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="row">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label class="control-label">Budget Type</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlConBudgetType" onchange="Get_ConCondition()">
                                                <option selected value="">Select</option>
                                                <option value="L">Revenue Physical</option>
                                                <option value="R">Revenue Finance</option>
                                                <option value="P">Planned Transport</option>
                                                <option value="T">Planned TOIP</option>
                                                <option value="O">Fund from other department</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 clsConCatSubCat">
                                            <label class="control-label">Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlConCategory" onchange="Get_ConParticulars()">
                                                <option selected value="">Select</option>
                                                <option value="I">Receipt</option>
                                                <option value="E">Payment</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 clsConCatSubCat">
                                            <label class="control-label">Sub Category</label><span id="spn2" style="color: red">&nbsp;*</span>
                                            <select class="form-control" id="ddlConSubCategory" onchange="Get_ConParticulars()">
                                                <option selected value="">Select</option>
                                                <option value="T">Traffic Revenue</option>
                                                <option value="O">Others</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Search by Receipt Type</label><span id="spn3" style="color: red"></span>
                                            <input type="text" id="txtConReceiptType" name="txtConReceiptType" class="form-control" placeholder="type receipt..">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="text-align:right; padding-top:5px">

                                        <div class="form-group" style="padding-top:5px">
                                            <label class="control-label" style="font-style: italic; float:left; padding-top:5px; color:#f95c41" id="lblHeader"></label>
                                            <div id="myDiv">
                                                <table id="myConTable" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:50%">Particulars</th>
                                                            <th style="width:8%">Budget Code</th>
                                                            <th>Amount</th>
                                                            <th>FC</th>
                                                            <th>Balance</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="dialog-Budgetdetail" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:80%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Budget Details..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <input id="hdnVchSrl" type="hidden" />
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px">

                        <table id="tbl_BudgetDetail" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center; width:3%">Budget Amount</th>
                                    <th style="text-align:center; width:3%;">Effective Date</th>
                                    @*<th style="text-align:center; width:3%;">Fund Type</th>*@
                                    <th style="text-align:center; width:10%;">Remarks</th>
                                    <th style="text-align:center; width:1.5%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="test_0">
                                    <td>
                                        <input id="txtBudgetAmt" placeholder="0.00" class="form-control allownumericwithdecimal" autofocus style="text-align:right" />
                                        <input id="hdnBudgetID" class="form-control" type="hidden" />
                                        <input id="hdnBudgetCode" class="form-control" type="hidden" />
                                        <input id="hdnBudgetAmount" class="form-control" type="hidden" />
                                    </td>
                                    <td>
                                        <input id="txtEffectiveDate" class="form-control" placeholder="DD/MM/YYYY" />
                                    </td>
                                    @*<td>
                                        <select id="ddlFundType" class="form-control">
                                            <option value="">Select</option>
                                            @foreach (var lst in new BudgetMaster_BLL().Get_FundType())
                                            {
                                                if (lst.FundTypeID == 1)
                                                {
                                                <option selected value="@lst.FundTypeID">@lst.FundDescription</option>
                                                }
                                                else
                                                {
                                                <option value="@lst.FundTypeID">@lst.FundDescription</option>
                                                }
                                            }
                                        </select>
                                    </td>*@
                                    <td>
                                        <input id="txtRemarks" class="form-control" />
                                    </td>
                                    <td style="text-align:center">
                                        <button type="button" id="btnBudgetAdd" class="btn btn-primary" onclick="AddBudgetDetail()">Add</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row" style="padding-left:5px">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" id="btnBudgetOK" class="btn btn-primary" onclick="Save()">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dialog-ConBudgetdetail" role="dialog" style="height:100%"  data-backdrop="static" data-keyboard="false">  
    <div class="modal-dialog" style="width:80%; height:500px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label style="color:black">Concurrance Details..</label>
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group" style="padding-left:5px; padding-right:5px">

                        <table id="tbl_ConBudgetDetail" class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center; width:3%">Amount</th>
                                    <th style="text-align:center; width:3%;">Date</th>
                                    <th style="text-align:center; width:3%;">Concurrance No.</th>
                                    <th style="text-align:center; width:10%;">Remarks</th>
                                    <th style="text-align:center; width:1.5%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="test_0">
                                    <td>
                                        <input id="txtConBudgetAmt" placeholder="0.00" class="form-control allownumericwithdecimal" autofocus style="text-align:right" />
                                        <input id="hdnConBudgetID" class="form-control" type="hidden" />
                                        <input id="hdnConBudgetCode" class="form-control" type="hidden" />
                                        <input id="hdnConBudgetAmount" class="form-control" type="hidden" />
                                        <input id="hdnConAmount" class="form-control" type="hidden" />
                                        <input id="hdnConBalAmount" class="form-control" type="hidden" />
                                    </td>
                                    <td>
                                        <input id="txtConEffectiveDate" class="form-control" placeholder="DD/MM/YYYY" />
                                    </td>
                                    <td>
                                        <input id="txtConReferanceNo" disabled class="form-control" />
                                    </td>
                                    <td>
                                        <input id="txtConRemarks" class="form-control" />
                                    </td>
                                    <td style="text-align:center">
                                        <button type="button" id="btnConBudgetAdd" class="btn btn-primary" onclick="AddConBudgetDetail()">Add</button>
                                    </td>
                                </tr>
                                <tr class="dvErrorMsg" style="display:none;">
                                    <td colspan="5" style="text-align:center; color:red; font-family:Verdana;font-size:12px"><span id="errorMsg"></span></td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row" style="padding-left:5px">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" id="btnConBudgetOK" class="btn btn-primary" onclick="ConSave()">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        var trigger = $('#inventory'), overlay = $('.overlay'), sidebarClose = $('.sidebar-close'), isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });
        sidebarClose.click(function () {
            $('#wrapperss').removeClass('toggled');
            $('.wrapperss').removeClass('toggled');
        });

        function hamburger_cross() {

            if (isClosed == true) {
                isClosed = false;
            } else {
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapperss').toggleClass('toggled');

            $('.po').toggleClass('toggled');
        });
        $('[data-toggle="offcanvasBill"]').click(function () {
            $('.bill').toggleClass('toggled');
        });
        $('[data-toggle="offcanvasPayment"]').click(function () {
            $('.payment').toggleClass('toggled');
        });
        $('[data-toggle="offcanvasIndant"]').click(function () {
            $('.indant').toggleClass('toggled');
        });

    });
</script>