﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/AccJs/CostCenter.js"></script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Cost Center Details</label>
                    </div>
                    <div class="panel-body">
                        <form id="frmCC">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Voucher Type:<span style="color:red">&nbsp;*</span></label>
                                        <select id="ddlVoucherType" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dtFrom">From Date:<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="dtfrom" name="dtfrom" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="dtFrom">To Date:<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="dtto" name="dtto" />
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="padding-top:10px;">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <button type="button" id="btnsearch" class="btn btn-primary" data-attrval="S"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
                                    </div>

                                </div>
                            </div>


                            <div class="panel panel-default">
                                <div class="panel-heading">Voucher List</div>
                                <div class="panel-body">
                                    <div class="col-md-12" style="max-height:300px;overflow-y:scroll;">
                                        <table class="table table-bordered" id="tblVoucherList">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Voucher No.</th>
                                                    <th>Narration</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>

                                        </table>

                                    </div>

                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">Voucher Details</div>
                                <div class="panel-body">
                                    <div class="col-md-12" style="max-height:300px;overflow-y:scroll;">
                                        <table class="table table-bordered" id="tblVoucherDetails">
                                            <thead>
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Description</th>
                                                    <th>DR Amt</th>
                                                    <th>CR Amt</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>

                                        </table>

                                    </div>

                                </div>
                            </div>



                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">CostCenter:<span style="color:red">&nbsp;*</span></label>
                                        <select id="ddlCostcenter" name="ddlCostcenter" class="form-control"></select>
                                        @*<input type="text" id="txtAccountDesc" name="txtAccountDesc" class="form-control" />
                                            <input type="hidden" class="form-control" id="hdnAuto" />*@
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Dept:<span style="color:red">&nbsp;*</span></label>
                                        <select id="ddldept" name="ddldept" class="form-control"></select>
                                        @*<input type="text" id="txtAccountDesc" name="txtAccountDesc" class="form-control" />
                                            <input type="hidden" class="form-control" id="hdnAuto" />*@
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Amount">Amount:<span style="color:red">*</span></label>
                                        <input type="text" id="txtAmount" name="txtAmount" style="text-align: right;" class="form-control numdec" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="">Ward No:</label>
                                        <input type="text" id="txtWard" name="txtWard" class="form-control numdec" />
                                    </div>
                                </div>


                                <div class="col-md-4" style="background-color:lightgrey;margin-top: 25px; ">
                                    <div class="form-check" style="height:35px">
                                        <span id="panel-1">
                                            <label class="radio-inline" style="margin-top: 8px;">
                                                <input type="radio" name="optradio" id="radioGeneral" value="0">General
                                            </label>
                                            <label class="radio-inline" style="margin-top: 8px;">
                                                <input type="radio" name="optradio" id="radioPoor" value="1">Poor/Slum
                                            </label>
                                            <label class="radio-inline" style="margin-top: 8px; padding-right:20px;">
                                                <input type="radio" name="optradio" id="radioNon" value="2">Non-poor/Slum
                                            </label>
                                        </span>
                                    </div>
                                </div>


                                <div class="col-md-4" style="margin-top:25px;">
                                    <div class="form-group">
                                        <button type="button" id="btnAdd" data-attrval="A" value="Add" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add</button>
                                        <input type="hidden" class="form-control" id="hdnEffectAdd" />
                                    </div>
                                </div>
                            </div>





                            <div class="panel panel-default">
                                <div class="panel-heading">Cost Center</div>
                                <div class="panel-body">
                                    <div class="col-md-12" style="max-height:300px;overflow-y:scroll;">
                                        <table class="table table-bordered" id="tblCostCenter">
                                            <thead>
                                                <tr>
                                                    <th>Cost Center</th>
                                                    <th>Dept</th>
                                                    <th>Amount</th>
                                                    <th>Cheque No</th>
                                                    <th>Cheque Date</th>
                                                    <th>Ref. No</th>
                                                    <th>Drawee Instrument</th>
                                                    <th>Edit</th>
                                                    @*<th>Delete</th>*@
                                                </tr>
                                            </thead>
                                            <tbody></tbody>

                                        </table>

                                    </div>

                                </div>
                            </div>

                        </form>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>