﻿
@{
    ViewBag.Title = "Report_VoucherEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label> Voucher Entry Report</label>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label id="lblFrom" class="control-label">From</label>
                                <input type="text" id="txtFrom" class="form-control" placeholder="DD/MM/YYYY" />
                            </div>
                            <div class="col-md-2">
                                <label id="lblTo" class="control-label">To</label>
                                <input type="text" id="txtTo" class="form-control" placeholder="DD/MM/YYYY" />
                            </div>
                            <div class="col-md-8">
                                <label id="lblVoucherNo" class="control-label">Voucher No.</label>
                                <input type="text" id="txtVoucherNo" class="form-control" placeholder="search voucher..." />
                                <input type="hidden" id="hdnVoucherNo" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12" style="text-align:center; padding-top:10px;">
                                    <button type="button" id="btnShow" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show Report</button>
                                    <button type="button" id="btnCancel" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel Voucher </button>
                                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {

        $('#btnRefresh').click(function () {
            Blank();
        });
        $('#btnCancel').click(function () {

            if ($("#hdnVoucherNo").val() == "")
            {
                toastr.error('Please, First Select Voucher !!', 'Warning'); $("#txtVoucherNo").focus(); return false;
            }

            swal({
                title: "Warning",
                text: "Are you sure want to Cancel this Voucher ??",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    Cancel_Voucher();
                }
                
            });
        });

        $('#txtFrom, #txtTo').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            closeText: 'X',
            showAnim: 'drop',
            changeYear: true,
            changeMonth: true,
            duration: 'slow',
            dateFormat: 'dd/mm/yy'
        });

        $("#btnShow").on('click', function (e) {
            e.preventDefault();

            var ControllerName = "VoucherCash"; //FormName
            var ReportName = "Voucher";
            var ReportType = "Voucher Master";

            if ($("#txtFrom").val() != "") {
                var isFrom = isValidDate($("#txtFrom").val());
                if (isFrom == false) {
                    alert("Please Select Valid From Date !!"); $("#txtFrom").focus(); return false;
                }
            }
            else {
                $("#txtFrom").focus(); return false;
            }
            if ($("#txtTo").val() != "") {
                var isTo = isValidDate($("#txtTo").val());
                if (isTo == false) {
                    alert("Please Select Valid To Date !!"); $("#txtTo").focus(); return false;
                }
            }
            else {
                $("#txtTo").focus(); return false;
            }

            if ($("#txtFrom").val() != "" && $("#txtTo").val() == "") {
                alert("Please Select To Date !!"); $("#txtTo").focus(); return false;
            }
            if ($("#txtFrom").val() == "" && $("#txtTo").val() != "") {
                alert("Please Select From Date !!"); $("#txtFrom").focus(); return false;
            }
            if ($("#hdnVoucherNo").val() == "") {
                alert("Please Select Valid Voucher Number !!"); $("#txtVoucherNo").focus(); return false;
            }

            E = "{FromDate:'" + $.trim($("#txtFrom").val()) + "', ToDate:'" + $.trim($("#txtTo").val()) + "', VoucherNo:'" + $.trim($("#hdnVoucherNo").val()) + "', " +
                "FormName:'" + ControllerName + "', ReportName:'" + ReportName + "', ReportType:'" + ReportType + "'}";

            var final = {}; var master = []; var detail = [];

            master.push({
                ReportName: "VoucherCash.rpt",
                FileName: $("#txtVoucherNo").val()
            });

            detail.push({
                VoucherNumber: $("#hdnVoucherNo").val(),
                sectorid: $("#ddlSector").val()
            });

            final = {
                Master: master,
                Detail: detail
            }

            // $.ajax({
            // type: "POST",
            // url: "/Accounts_Form/VoucherMaster/Generate_Report",
            // data: E,
            // contentType: "application/json; charset=utf-8",
            // dataType: "json",
            // success: function (D) {
            var left = ($(window).width() / 2) - (950 / 2),
                top = ($(window).height() / 2) - (650 / 2),
            popup = window.open("/OpenReport/OpenReport.aspx?ReportName=" + JSON.stringify(final), "popup", "width=950, height=650, top=" + top + ", left=" + left);
            popup.focus();
            // }
            // });
        });

        $("#txtVoucherNo").autocomplete({
            source: function (request, response) {

                var E = "{VoucherNo: '" + $.trim($("#txtVoucherNo").val()) + "', FromDate: '" + $.trim($("#txtFrom").val()) + "', ToDate: '" + $.trim($("#txtTo").val()) + "', SectorID: '" + $.trim($("#ddlSector").val()) + "'}";

                $.ajax({
                    type: "POST",
                    url: "/Accounts_Form/VoucherMaster/Load_VoucherNo",
                    data: E,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (D) {
                        var t = D.Data;
                        var DataAutoComplete = [];
                        if (t.length > 0) {
                            $.each(t, function (index, item) {
                                DataAutoComplete.push({
                                    label: item.RefVoucherSlNo,
                                    VoucherNumber: item.VoucherNumber
                                });
                            });
                            response(DataAutoComplete);
                        }
                    }
                });
            },
            select: function (e, i) {
                $("#hdnVoucherNo").val(i.item.VoucherNumber);
            },
            minLength: 0
        }).click(function () {
            $(this).autocomplete('search', ($(this).val()));
        });
        $('#txtVoucherNo').keydown(function (evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode == 8) {
                $("#txtVoucherNo").val('');
                $("#hdnVoucherNo").val('');
            }
            if (iKeyCode == 46) {
                $("#txtVoucherNo").val('');
                $("#hdnVoucherNo").val('');
            }
        });
    });

   
    function Blank()
    {
        $('#txtFrom').val('');
        $('#txtTo').val('');
        $('#txtVoucherNo').val('');
        $('#hdnVoucherNo').val('');

        $('#radioPDF').prop('checked', false);
        $('#radioExcel').prop('checked', false);
    }
    function isValidDate(dateString) {
        var regEx = /^(0[1-9]|[12][0-9]|3[01])[/ /.](0[1-9]|1[012])[/ /.](19|20)\d\d$/;
        return dateString.match(regEx) != null;
    }
    function Cancel_Voucher()
    {
        var E = "{VoucherNo: '" + $.trim($("#hdnVoucherNo").val()) + "', RefVoucherNo: '" + $.trim($("#txtVoucherNo").val()) + "'}";

        $.ajax({
            type: "POST",
            url: "/Accounts_Form/Report_VoucherEntry/Cancel_Voucher",
            data: E,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (D) {
                var t = D.Data; 
                if (D.Status == 200 && t == 1)
                {
                    swal("Deleted !", "Your Voucher has been deleted.", "success"); Blank();
                }
                else
                {
                    swal("Cancelled", "There is some Problem", "error");
                }
            }
        });
    }
</script>

