﻿
@{
    ViewBag.Title = "Subledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/bootstrap-treeview.min.css" rel="stylesheet" />
<link href="~/Content/Scrollbar.css" rel="stylesheet" />

<script src="~/Scripts/AccJs/AccountMaster.js"></script>
<script src="~/Scripts/bootstrap-treeview.js"></script>



    <form form-inline" id="Subledgertree">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-content">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <label>Subledger Master</label>
                            </div>
 <input type="hidden" ID="hdnfor" Value="subledger" />
                            <input type="hidden" ID="hdnSubLedgerSearchId" Value="" />
                            <input type="hidden" value="SubLedgerPage" class="pageName" />
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-6 scrollbar" style="margin-top:7px; height:800px; width:40%; ">
                                        <div id="tree">
                                            <ul id="root"></ul>
                                        </div>
                                        <input type="text" class="form-control" id="input-search" placeholder="Type to search..." value="">
                                        <div id="subtree"></div>
                                    </div>

                                    <div class="col-md-8" style="margin-top:2px;  height:auto; width:60%">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                @*<label for="txtAutoSub">Sub Ledger Search:</label>*@
                                                <input type="text" class="form-control" id="txtAutoSub" name="txtAutoSub" placeholder="for Search..." />
                                                <input type="hidden" ID="hdnSubLedgerSearchId" Value="" />
                                            </div>


                                            <div>
                                                <h3 style="color:cadetblue; font-weight:bold; font-style:italic; font-size:18px">Sub Ledger Details</h3>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="ActionText">Parent :</label>
                                                            <input type="text" class="form-control" id="txtsubparent" name="txtsubparent" placeholder="Parent" >
                                                            <input type="hidden" ID="hdnParentID" name="hdnParentID"  />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label for="ActionText">Sub Ledger Description:</label>
                                                            <input type="text" class="form-control" id="txtpayee" name="txtpayee" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t">
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label for="ActionText">GST:</label>
                                                            <input type="text" class="form-control" id="txtgst" />
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label for="ActionText">PAN:</label>
                                                            <input type="text" class="form-control" id="txtpan" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t">
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>Mobile No.</label>
                                                            <input type="text" class="form-control" id="txtmob" maxlength="11" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Payee Contact person</label>
                                                            <input type="text" class="form-control" id="payeeContactPerson" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t">
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>Address:</label>
                                                            <input type="text" class="form-control" id="txtaddress" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>State:</label>
                                                            <select class="form-control" id="ddlstate" name="ddlstate"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t">
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>District:</label>
                                                            <select class="form-control" id="ddldistrict" name="ddldistrict">
                                                                <option value="0">Select</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>PIN</label>
                                                            <input type="text" class="form-control" id="txtpin" maxlength="6" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="padding-top:2px;">
                                                <h3 style="color:cadetblue; font-weight:bold; font-style:italic; font-size:18px">Bank Details</h3>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>IFSC:</label>
                                                            <input type="text" class="form-control" id="txtIFSC" name="txtIFSC" />
                                                            <input type="hidden" ID="hdnIFSC" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t">
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>Bank Name:</label>
                                                            <input type="text" class="form-control" id="txtbank" readonly="readonly" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Branch Name:</label>
                                                            <input type="text" class="form-control" id="txtbranch" readonly="readonly" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row m-t">
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>MICR:</label>
                                                            <input type="text" class="form-control" id="txtMICR" readonly="readonly" />
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label>Account Type:</label>
                                                            <select class="form-control" id="ddlaccounttype" name="ddlaccounttype">
                                                                <option value="0">Select</option>
                                                                <option value="1">Saving</option>
                                                                <option value="2">Current</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row m-t">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <table id="tbl" class="table table-hover table-bordered tblInst">
                                                            <thead><tr><th>Effected General Ledger</th><th></th></tr></thead>
                                                            <tbody>
                                                                <tr class="test_0">
                                                                    <td><input type="text" id="txtEfftGL" class="form-control" /></td>
                                                                    <td style="text-align:center; width:10%">
                                                                        @*<input type="button" class="btn btn-success" value="Add" id="btnEffectAdd" />*@
                                                                        <button type="button" id="btnEffectAdd" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="padding-right:4px"></span>Add</button>
                                                                        <input type="hidden" class="form-control" id="hdnEffectAdd" />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="padding-top:10px; float:right">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <button type="button" id="btnsubsubmit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true" style="padding-right:4px"></span>Save</button>
                                                        <button type="button" id="btnsubcancel" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:4px"></span>Refresh</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div id="contextMenu" class="dropdown clearfix">

        @*<div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px; cursor:pointer; background-color:lightblue">
                <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px"><span class="glyphicon glyphicon-plus"></span></div>
                <div style="float:left; width:85%;" acc-sub="A" class="lnkAdd"><span style="padding-left:10px">Add</span></div>

                <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px"><span class="glyphicon glyphicon-plus"></span></div>
                <div style="float:left; width:85%;" acc-sub="A" class="lnkDelete"><span style="padding-left:10px">Delete</span></div>
            </div>*@

        <div id="simple" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px; cursor:pointer; background-color:#24c6c8; height:50px">
            <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px; padding-top:4px"><span class="glyphicon glyphicon-plus"></span></div>
            <div style="float:left; width:85%; padding-top:4px" acc-sub="S" acc-gl="L" class="lnkAdd"><span style="padding-left:10px">Add Ledger</span></div>

            <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px; padding-top:5px"><span class="glyphicon glyphicon-plus"></span></div>
            <div style="float:left; width:85%; padding-top:5px" acc-sub="S" class="lnkDelete"><span style="padding-left:10px">Delete</span></div>
        </div>

    </div>

    <div id="contextMenuMND" class="dropdown clearfix">
        <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="display:block;position:static;margin-bottom:5px; cursor:pointer; background-color:#24c6c8; height:50px">
            <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px; padding-top:4px"><span class="glyphicon glyphicon-plus"></span></div>
            <div style="float:left; width:85%;  padding-top:4px" acc-sub="S" acc-gl="O" class="lnkAdd"><span style="padding-left:10px">Add Ledger</span></div>

            <div style="float:left; width:15%; border-right:solid 1px black; padding-left:5px; padding-top:5px"><span class="glyphicon glyphicon-plus"></span></div>
            <div style="float:left; width:85%; padding-top:5px" acc-sub="S" acc-gl="O" class="lnkDelete"><span style="padding-left:10px">Delete</span></div>
        </div>
    </div>

    <style>
        #contextMenu, #contextMenuMND {
            position: absolute;
            display: none;
        }

        .lnkAdd:hover, .lnkDelete:hover {
            color: red;
        }

        .ui-autocomplete {
            height: 200px;
            overflow-y: scroll;
            /*overflow-x: hidden;*/
            /*border: 1px solid #cbc7c7;*/
            font-size: 13px;
            font-weight: normal;
            color: #242424;
            background: #fff;
            -moz-box-shadow: inset 0.9px 1px 3px #e4e4e4;
            -webkit-box-shadow: inset 0.9px 1px 3px #e4e4e4;
            box-shadow: inset 0.9px 1px 3px #e4e4e4;
            width: 350px;
            /*height:30px;*/
            padding: 5px;
            font-family: Segoe UI, Lucida Grande, Arial, Helvetica, sans-serif;
            margin: 3px 0;
            z-index: 10000 !important;
        }
    </style>
