﻿@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL.Account;

@{
    ViewBag.Title = "TrailBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/app/select2.full.min.js"></script>
<script src="~/Scripts/AccJs/Trail_Balance_1.js?vs1"></script>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Trail Balance</label>
                    </div>

                    <input type="hidden" id="hdnAccountCode" />
                    <input type="hidden" id="hdnAccountDesc" />
                    <input type="hidden" id="hdnAccountHidden" />

                    <input type="hidden" id="hdnLogo" value="@ViewBag.Logo" />
                    <input type="hidden" id="hdnHeader" value="@ViewBag.header" />
                    <input type="hidden" id="hdnAddress" value="@ViewBag.address" />


                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-2" style="padding-top:10px">
                                    <label class="control-label">Search Type</label><span id="spn2" style="color: red">&nbsp;*</span><br />
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="radioGL" value="GL" name="radioInline" checked>
                                        <label id="gl" for="radioGL"> GL </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="radioSL" value="SL" name="radioInline">
                                        <label id="sl" for="radioSL"> SL </label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" >From Date</label><span id="spn2" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtFromDate" name="txtFromDate" class="form-control txt_2" placeholder="DD/MM/YYYY" autocomplete="off" />
                                </div>
                                <div class="col-md-2">
                                    <label class="control-label" >To Date</label><span id="spn3" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtToDate" name="txtToDate" class="form-control" placeholder="DD/MM/YYYY" autocomplete="off">
                                </div>
                                <div class="col-md-2" style="padding-top:20px">
                                    <div class="checkbox checkbox-info checkbox-inline">
                                        <input type="checkbox"  class="tt" id="chkzero" value="option1" name="chkzero">
                                        <label for="chkzero"> Include Zero </label>
                                    </div><br />
                                    <div class="checkbox checkbox-info checkbox-inline">
                                        <input type="checkbox" checked class="tt" id="chkOnly" value="option1" name="chkOnly">
                                        <label for="chkOnly"> Only Transaction </label>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-top:22px">
                                    <button type="button" id="btnShow" class="btn btn-primary"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show</button>
                                    <button type="button" id="btnPrint" class="btn btn-success hidden-print"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                                    <button type="button" id="btnExcel" class="btn btn-success hidden-print" onclick="Excel()"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Excel </button>
                                    <button type="button" id="btnBack" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="padding-right:4px"></span>Back</button>
                                    <a id="btnApprove" target="_blank" value="Approve" class="btn btn-primary" style="display:none"></a>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t">
                            <div class="form-group">
                                <div class="col-md-12 lstSector">
                                    <select class="select2_demo_2 form-control" id="lstSector" multiple="multiple" style="width:100% !important">
                                      
                                        @if (SessionContext.IsAuthenticated)
                                        {
                                            foreach (var vchtype in (new TrailBalance_BLL().Get_UserWiseSector(SessionContext.SessionData.UserID)))
                                            {
                                                <option value="@vchtype.SectorID">@vchtype.SectorName </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row m-t" id="pnl_SubLedger" style="display:none;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label" >Ledger</label><span id="spn2" style="color: red">&nbsp;*</span>
                                    <input type="text" id="txtSearchSubLedger" name="txtSearchSubLedger" class="form-control" />
                                    <input type="hidden" id="hdnSearchSubLedger" name="txtSearchSubLedger" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="text-align:right; padding-top:5px">
                                <input id="txtSearch_0" name="txtSearch_0" class="form-control" onkeyup="SearchTable_0()" onblur="SearchTable_0()" placeholder="for Search..." />
                                <div id="myDiv">
                                    <label class="control-label" style="font-style: italic; float:left; padding-top:5px; color:#f95c41" id="lblHeader"></label>
                                    <div class="form-group" style="padding-top:5px">
                                        <table id="myTable" class="table table-hover table-bordered" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%">
                                            <thead></thead>
                                            <tbody></tbody>
                                            <tfoot></tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .hover {
        background-color: #D4EFDF;  
    }

</style>

<script>
    $(".select2_demo_2").select2({
        placeholder: "Select Sector",
        allowClear: true
    });

</script>



