﻿
@{
    ViewBag.Title = "voucherApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />

<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/AccJs/VoucherApproval.js"></script>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Voucher Approval</label>
                    </div>
                    <div class="panel-body">
                        <form id="frmApproval">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="ddlVoucherType">Voucher Type:<span style="color:red">&nbsp;*</span></label>
                                        <select id="ddlVoucherType" name="ddlVoucherType" class="form-control"></select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="dtFrom">From Date:<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control input-sm" placeholder="DD/MM/YYYY" id="dtFrom" name="dtFrom" />
                                    </div>
                                    <div class="col-md-4">
                                        <label for="dtTo">To Date:<span style="color:red">&nbsp;*</span></label>
                                        <input type="text" class="form-control input-sm" placeholder="DD/MM/YYYY" id="dtTo" name="dtTo" />
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label for="txtapprovedby">Approved By:</label>
                                        <input type="text" class="form-control" id="txtapprovedby" name="txtapprovedby" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label for="txtapprovedon">Approved On:</label>
                                        <input type="text" class="form-control" id="txtapprovedon" name="txtapprovedon" />
                                    </div>
                                    <div class="col-md-4" style="padding-top:22px;">
                                        <button type="button" id="btnsearch" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-right:5px"></span>Search</button>
                                        <button type="button" id="btncancel" class="btn btn-danger"><span class="glyphicon glyphicon-refresh" aria-hidden="true" style="padding-right:5px"></span>Refresh</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="row m-t">
                            <div class="col-md-12">
                                <table id="tblVoucherApproval" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">Voucher Date</th>
                                            <th style="text-align:center;">Voucher No</th>
                                            <th style="text-align:center;">Voucher Amount</th>
                                            <th style="text-align:center;">Approve</th>
                                            <th style="text-align:center;">Show Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="Div1" role="dialog" style="height:100%">
    <div class="modal-dialog" style="width:70%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto; " >
                <table id="tbl" class="Grid" style="border-collapse:collapse; width:100%">
                    <thead>
                        <tr style="border: 1px solid #333">
                            <th style="border: 1px solid; text-align:center; display:none">VoucherNumber</th>
                            <th style="border: 1px solid; text-align:center; display:none">VoucherSerial</th>
                            <th style="border: 1px solid; text-align:center; display:none">AccountCode</th>
                            <th style="border: 1px solid; text-align:center;">AccountName</th>
                            <th style="border: 1px solid; text-align:center;">DRCR</th>
                            <th style="border: 1px solid; text-align:center;">Amount</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <div class="row">
                    <div class="col-md-12" style="padding-top:25px; text-align:right">
                        <a id="btnEdit" class="btn btn-primary"  >Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>