﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.Models.Account.Logins;

@{
    var a = ""; var b = "";
    var SalMonth = ""; var SalFinYear = ""; var AccFinYear = ""; var SalMonthID = ""; var UserName = "";
    var ssData = new SessionData();
    if (SessionContext.IsAuthenticated)
    {
        ssData.Sectors = new EmployeeMaster().Get_Sector((SessionContext.CurrentUser as IInternalUser).UserID);
        SessionContext.SessionData.Sectors = ssData.Sectors;
        UserName = (SessionContext.CurrentUser as IInternalUser).FirstName + " " + (SessionContext.CurrentUser as IInternalUser).LastName;
        if (ssData.Sectors.Count == 1)
        {
            foreach (var sector in ssData.Sectors)
            {
                ssData.CurrSector = sector.SectorID;
                ssData.CurrSectorName = sector.SectorName;
            }
        }
        //POPULATE LOGO, HEADER
        Logo lObj = new Logo();
        Logo_MD modelObj = lObj.GetAppsInfo();
        a = modelObj.LogoPath;
        b = modelObj.WebSiteHeader_1;

        //POPULATE SALMONTH, SALFINYEAR, ACCFINYEAR
        //SessionContext.InitSessionData();
        //SessionData obj_salfinacc = SessionContext.SessionData;
        //SalMonthID = obj_salfinacc.SalMonthID.ToString();
        //SalMonth = obj_salfinacc.SalMonth;
        //SalFinYear = obj_salfinacc.CurSalFinYear;
        //AccFinYear = obj_salfinacc.CurFinYear;
    }
    else
    {
        Response.Redirect("/Error/Error401/Index", true);
        return;
    }
}


<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">

            <li style="display:none">
                <label for="firstName" class="control-label" style="color:black; font-style:italic;  margin-left:5px">Account FinYear</label>
                <input type="text" id="txtAccFinYear" placeholder="Acc FinYear" value="@AccFinYear" class="form-control" >
            </li>

            <li>
                <span class="lblUserName" style="color:#61798e"><i class="fa fa-user-circle-o" style="font-size:18px"></i>   Welcome : @UserName    </span>
            </li>
            <li>
                <span class="lblUserName" style="color:#61798e"><i class="fa fa-location-arrow" style="font-size:18px"></i>   Sector : 
                    <select id="ddlSector" onchange="OnChangeSector()">
                        @if (SessionContext.IsAuthenticated)
                        {
                            if (SessionContext.SessionData.Sectors.Count == 1)
                            {
                                foreach (var sector in SessionContext.SessionData.Sectors)
                                {
                                    <option selected value="@sector.SectorID">@sector.SectorName</option>
                                }
                            }
                            else
                            {
                                 @*<option value="">Sector</option>*@
                                foreach (var sector in SessionContext.SessionData.Sectors)
                                {
                                    <option value="@sector.SectorID">@sector.SectorName</option>
                                }
                            }
                        }
                    </select>
                </span>
            </li>
            <li>
                <span class="lblUserName" style="color:#61798e">
                    <select id="ddlGlobalFinYear" onchange="OnChangeFinYear()">
                        <option value="">FinYear</option>
                    </select>
                </span>
            </li>
            <li>
                <a href="/Home/AdministrativeLoginUI" style="color:#0795f3">
                    <i class="fa fa-sign-out" style="font-size:18px"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>

<script>

    var sectorID = "";
    $(document).ready(function () {
        sectorID = localStorage.getItem("SectorID"); 
        var FinYearstorage = localStorage.getItem("FinYear"); 

        if (!sectorID) {
            $('#ddlSector option:first-child').prop('selected', true);
            $('#ddlSector').trigger('change');
            return;
        }
        if (sectorID && FinYearstorage) {
            $('#ddlSector option[value="' + sectorID+'"]').prop('selected', true);
            //$("#ddlGlobalFinYear option:selected").text(FinYearstorage); 
            populateDllFinYear(sectorID, function (finyears) {
                $('#ddlGlobalFinYear').find('option:contains("' + FinYearstorage + '")').prop('selected', true);
            });
        }

        $(".allownumericwithdecimal").on("keypress keyup blur, onkeydown", function (event) {
            //this.value = this.value.replace(/[^0-9\.]/g,'');
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    });
    function populateDllFinYear(sectorId, callback) {
        var S = "{SectorID:'" + sectorId + "'}";
        $.ajax({
            url: '/Accounts_Form/AccountMaster/FinYear',
            type: 'POST',
            data: S,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (response) {
                var data = response.Data;

                if (data.length > 0) {
                    var ctlr_ddlGlobalFinYear = $('#ddlGlobalFinYear');
                    ctlr_ddlGlobalFinYear.empty();
                    $(data).each(function (index, item) {
                        ctlr_ddlGlobalFinYear.append('<option value=' + item.FinYrStatus + '>' + item.FinYr + '</option>');
                    });
                    callback(data);
                }
            }
        });
    }
    function OnChangeSector() {
        var SectorID = $('#ddlSector').val();
        localStorage.setItem("SectorID", SectorID);

        var S = "{SectorID:'" + $.trim($('#ddlSector').val()) + "'}";
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/LoginManager/SetSession",
            data: S,
            dataType: "json",
            success: function (data) {
            }
        });

        var path = window.location.pathname; //alert(path);
        var value = path.substring(path.lastIndexOf('/') + 1); //alert(value);
        if (sectorID) {
            var isNumorStr = $.isNumeric(value);
            if (isNumorStr) {
                var lenth = value.length; //alert(lenth); 
                var newURL = path.substr(0, path.length - lenth - 1); //alert(newString);
                window.location.href = newURL;
            }
            else {
                window.location.href = path; //'/Administration/AdminHome/HomeUI';
            }
        }


        FinYear($('#ddlSector').val());
    }
    function OnChangeFinYear()
    {
        var SectorID = $('#ddlSector').val();
        var FinYearstorage = $("#ddlGlobalFinYear option:selected").text();
        localStorage.setItem("SectorID", SectorID);
        localStorage.setItem("FinYear", FinYearstorage);

        //window.location.href = '/Administration/AdminHome/HomeUI';
        var path = window.location.pathname;
        window.location.href = path;

    }
    function FinYear(sectorID) {
        var S = "{SectorID:'" + sectorID + "'}";
        $.ajax({
            url: '/Accounts_Form/AccountMaster/FinYear',
            type: 'POST',
            data: S,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (response) {
                var data = response.Data; 
               
                if (data.length > 0) {
                    var ctlr_ddlGlobalFinYear = $('#ddlGlobalFinYear');
                    ctlr_ddlGlobalFinYear.empty();
                    $(data).each(function (index, item) {
                        ctlr_ddlGlobalFinYear.append('<option value=' + item.FinYrStatus + '>' + item.FinYr + '</option>');
                    });

                    $('#txtAccFinYear').val($("#ddlGlobalFinYear option:selected").text());
                    localStorage.setItem("FinYear", $("#ddlGlobalFinYear option:selected").text());
                }
                else {
                    var ctlr_ddlGlobalFinYear = $('#ddlGlobalFinYear');
                    ctlr_ddlGlobalFinYear.empty();
                    ctlr_ddlGlobalFinYear.append('<option value="">FinYear</option');

                    $('#txtAccFinYear').val('');
                    localStorage.setItem("FinYear", "");
                }
            }
        });


    }

</script>