﻿    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: transparent;
    }
    /*-------------------------------*/
    /*           Wrappers            */
    /*-------------------------------*/
    .wrapperss {
        margin-left: 0;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

        .wrapperss.toggled {
            margin-left: -220px;
        }

    .sidebar-wrapperss {
        z-index: 2005;
        left: auto;
        right: 0;
        width: 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background: #f3f3f3;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border: 1px solid #dcdada;
    }

        .sidebar-wrapperss::-webkit-scrollbar {
            display: none;
        }

    .wrapperss.toggled .sidebar-wrapperss {
        width: 1264px;
    }

    #page-content-wrapper {
        width: 100vw;
        padding-top: 70px;
    }

    .wrapperss.toggled #page-content-wrapper {
        position: absolute;
    }
    /*-------------------------------*/
    /*     Sidebar nav styles        */
    /*-------------------------------*/
    .sidebar-navs {
        position: absolute;
        top: 0;
        width: 220px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        .sidebar-navs li {
            position: relative;
            line-height: 20px;
            display: inline-block;
            width: 100%;
        }

            .sidebar-navs li:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                height: 100%;
                width: 3px;
                background-color: #1c1c1c;
                -webkit-transition: width 0.2s ease-in;
                -moz-transition: width 0.2s ease-in;
                -ms-transition: width 0.2s ease-in;
                transition: width 0.2s ease-in;
            }

            .sidebar-navs li:first-child a {
                color: #fff;
                background-color: #1a1a1a;
            }

            .sidebar-navs li:nth-child(2):before {
                background-color: #ec1b5a;
            }

            .sidebar-navs li:nth-child(3):before {
                background-color: #79aefe;
            }

            .sidebar-navs li:nth-child(4):before {
                background-color: #314190;
            }

            .sidebar-navs li:nth-child(5):before {
                background-color: #279636;
            }

            .sidebar-navs li:nth-child(6):before {
                background-color: #7d5d81;
            }

            .sidebar-navs li:nth-child(7):before {
                background-color: #ead24c;
            }

            .sidebar-navs li:nth-child(8):before {
                background-color: #2d2366;
            }

            .sidebar-navs li:nth-child(9):before {
                background-color: #35acdf;
            }

            .sidebar-navs li:hover:before,
            .sidebar-navs li.open:hover:before {
                width: 100%;
                -webkit-transition: width 0.2s ease-in;
                -moz-transition: width 0.2s ease-in;
                -ms-transition: width 0.2s ease-in;
                transition: width 0.2s ease-in;
            }

            .sidebar-navs li a {
                display: block;
                color: #ddd;
                text-decoration: none;
                padding: 10px 15px 10px 30px;
            }

                .sidebar-navs li a:hover,
                .sidebar-navs li a:active,
                .sidebar-navs li a:focus,
                .sidebar-navs li.open a:hover,
                .sidebar-navs li.open a:active,
                .sidebar-navs li.open a:focus {
                    color: #fff;
                    text-decoration: none;
                    background-color: transparent;
                }

        .sidebar-navs > .sidebar-brand {
            height: 65px;
            font-size: 20px;
            line-height: 44px;
        }

        .sidebar-navs .dropdown-menu {
            position: relative;
            width: 100%;
            padding: 0;
            margin: 0;
            border-radius: 0;
            border: none;
            background-color: #222;
            box-shadow: none;
        }

    /*-------------------------------*/
    /*            Overlay            */
    /*-------------------------------*/
    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(250,250,250,.8);
        z-index: 1;
    }
