﻿

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>404 Error</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Oops!</h3>
        <div class="error-desc">
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <p style="color:red">Resource Not Found <br>
                        <a href="/Home/AdministrativeLoginUI" style="color:blue">
                            <span style="font-size:12px">click here</span>
                        </a>
                      
                </div>
            </form>
        </div>
    </div>


</body>

</html>


